<div id="<%= dom_id payment_term %>">
  <p>
    <strong>Contract:</strong>
    <%= payment_term.contract_id_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment_term.description %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= payment_term.percentage %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment_term.amount %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= payment_term.target_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment_term.status %>
  </p>

  <p>
    <strong>Completed date:</strong>
    <%= payment_term.completed_date %>
  </p>

</div>
