<%= form_with(model: milestone , url: milestone.persisted? ? nil : contract_milestones_path(@contract)) do |form| %>
  <% if milestone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
        <% milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <!-- Name -->
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <!-- Date -->
  <div class="mb-3">
    <%= form.label :date, "Due Date", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <!-- Description -->
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 3, class: "form-control" %>
  </div>

  <!-- Status toggle -->
  <div class="mb-3">
  <label class="form-label d-block">Status</label>

  <div class="btn-group" role="group">
    <%= form.radio_button :status, "pending",
        class: "btn-check",
        id: "milestone_#{milestone.id}_pending" %>

    <%= label_tag "milestone_#{milestone.id}_pending",
        "Pending",
        class: "btn btn-outline-secondary" %>

    <%= form.radio_button :status, "completed",
        class: "btn-check",
        id: "milestone_#{milestone.id}_completed" %>

    <%= label_tag "milestone_#{milestone.id}_completed",
        "Completed",
        class: "btn btn-outline-success" %>

    <%= form.radio_button :status, "cancelled",
        class: "btn-check",
        id: "milestone_#{milestone.id}_cancelled" %>

    <%= label_tag "milestone_#{milestone.id}_cancelled",
        "Cancelled",
        class: "btn btn-outline-danger" %>
  </div>
</div>
<% if milestone.persisted? %>
   <!-- Date -->
  <div class="mb-3">
    <%= form.label :completed_date, "Date Completed", class: "form-label" %>
    <%= form.date_field :completed_date, class: "form-control" %>
  </div>
<% end %>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
