<div id="<%= dom_id invoice %>">
  <p>
    <strong>Contract:</strong>
    <%= invoice.contract_id_id %>
  </p>

  <p>
    <strong>Payment term:</strong>
    <%= invoice.payment_term_id_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= invoice.issue_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Paid date:</strong>
    <%= invoice.paid_date %>
  </p>

</div>
