<div id="<%= dom_id contract %>">
  <p>
    <strong>Client:</strong>
    <%= contract.client_id_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= contract.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contract.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= contract.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= contract.end_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= contract.total_amount %>
  </p>

</div>
